.col-6 {
  border-top: 1px solid #8D8E8E;
  border-left: 1px solid #8D8E8E;
  padding: 4px;
}

.col-4 {
  border-top: 1px solid #8D8E8E;
  border-left: 1px solid #8D8E8E;
  padding: 4px;
}

.col-8 {
  border-top: 1px solid #8D8E8E;
  border-left: 1px solid #8D8E8E;
  padding: 4px;
}

.col-left {
  border-right: 1px solid #8D8E8E;
}
.col-bottom{
  border-bottom: 1px solid #8D8E8E;
}

.col-right {
  border-left: 1px solid #8D8E8E;
}

.row {
  color: #4d4d4d;
}
