.row {
  color: #4d4d4d;
}
.equip {
  position: absolute;
  z-index: 10;
  width: fit-content;
}
.elmo {
  left: 98px;
  top: 11px;
}
.peito {
  left: 98px;
  top: 81px;
}
.calca {
  left: 98px;
  top: 151px;
}
.bota {
  left: 98px;
  top: 221px;
}
.arma{
  left: 28px;
  top: 81px;
}
.escudo {
  left: 168px;
  top: 81px;
}
.capa  {
  left: 168px;
  top: 151px;
}
.luva {
  left: 28px;
  top: 151px;
}
.acessorio {
  width: 31px;
}
.anel1 {
  top: 222px;
  left: 60px;
}
.anel2 {
  top: 222px;
  left: 169px;
}
.amu1 {
  left: 167px;
  top: 43px;
}
.amu2 {
  top: 43px;
  left: 202px;
}

.detalhe-item {
  background-color: rgba(40, 44, 84, 0.85);
  padding: 6px 15px 15px;
  position: absolute;
  width: 200px;
  z-index: 20;
  top: 0;
  left: 0;
  border: 2px solid #CCC;
}
.img-invetario {
  max-height: 200px;
}
@media (max-width: 742px) {
  .img-invetario {
    max-height: 310px;
  }
}
