.row {
  color: #4d4d4d;
}
.equip {
  position: absolute;
  z-index: 10;
}
.elmo {
  left: 98px;
  top: 11px;
}
.peito {
  left: 98px;
  top: 81px;
}
.calca {
  top: 151px;
  left: 98px;
}
.bota {
  left: 98px;
  top: 221px;
}
.arma{
  left: 28px;
  top: 81px;
}
.escudo {
  left: 168px;
  top: 81px;
}
.capa  {
  left: 168px;
  top: 151px;
}
.luva {
  left: 28px;
  top: 151px;
}
.acessorio {
  width: 31px;
}
.anel1 {
  top: 221px;
  left: 60px;
}
.anel2 {
  left: 169px;
  top: 221px;
}
.amu1 {
  left: 168px;
  top: 43px;
}
.amu2 {
  top: 43px;
  left: 201px;
}
