<div class="row p-2">
  <table class="table table-bordered table-hover table-dark ">
    <thead>
    <ng-container *ngIf="pessoal; else geral">
      <th>Gênero</th>
      <th>Dinheiro</th>
      <th>Ouro</th>
      <th>Pt Contribução</th>
      <th>Pt Ouro</th>
      <th>Pt Certos</th>
      <th>Pt Caça</th>
      <th>Pt Processamento</th>
    </ng-container>
    <ng-template #geral>
      <th>Nome</th>
      <th>Raça</th>
      <th>Nível</th>
    </ng-template>
    </thead>
    <tbody>
    <ng-container *ngIf="pessoal; else tdGeral">
      <td>{{personagem.genero}}</td>
      <td>{{personagem.dinheiro}}</td>
      <td>{{personagem.ouro}}</td>
      <td>{{personagem.ptContribuicao}}</td>
      <td>{{personagem.ptOuro}}</td>
      <td>{{personagem.ptCertos}}</td>
      <td>{{personagem.ptCaca}}</td>
      <td>{{personagem.ptProcessamento}}</td>
    </ng-container>
    <ng-template #tdGeral>
      <td>{{personagem.nome}}</td>
      <td>{{personagem.raca}}</td>
      <td>{{personagem.nivel}}</td>
    </ng-template>
    </tbody>
  </table>
</div>
<div class="row">

  <!--  <div class="no-borders">-->
  <div class="col-12 col-sm-12 col-md-7 col-xl-7 no-borders" *ngIf="personagem.raca">
    <img [src]="'assets/img/'+personagem.raca.toString().toLowerCase()+'_hero.png'" style="width: 360px; height: 300px;"
         alt="Imagem do inventário do jogo">
  </div>

  <!--  <div class=" no-borders img-invetario">-->
  <div class="col-12 col-sm-12 col-md-5 col-xl-3 mt-2 mt-md-0 no-borders img-invetario">

    <img src="assets/img/inventory.jpg" style="min-width: 230px" class="img-thumbnail"
         alt="Imagem do inventário do jogo">

    <div class="equip peito" *ngIf="personagem.peito">
      <app-item-inventario [equipamento]="personagem.peito" equipeFolder="upper"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.peito)"
                           (mouseleave)="mostraDetalhes($event, false)">
      </app-item-inventario>
    </div>
    <div class="equip calca" *ngIf="personagem.calca">
      <app-item-inventario [equipamento]="personagem.calca" equipeFolder="lower"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.calca)"
                           (mouseleave)="mostraDetalhes($event, false)">
      </app-item-inventario>
    </div>
    <div class="equip luva" *ngIf="personagem.luva">
      <app-item-inventario [equipamento]="personagem.luva" equipeFolder="gauntlet"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.luva)"
                           (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
    </div>
    <div class="equip bota" *ngIf="personagem.bota">
      <app-item-inventario [equipamento]="personagem.bota" equipeFolder="shoe"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.bota)"
                           (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
    </div>
    <div class="equip elmo" *ngIf="personagem.elmo">
      <app-item-inventario [equipamento]="personagem.elmo" equipeFolder="helmet"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.elmo)"
                           (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
    </div>
    <div class="equip capa" *ngIf="personagem.capa">
      <app-item-inventario [equipamento]="personagem.capa" equipeFolder="cloak"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.capa)"
                           (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
    </div>
    <div class="equip escudo" *ngIf="personagem.escudo">
      <app-item-inventario [equipamento]="personagem.escudo" equipeFolder="shield"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.escudo)"
                           (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
    </div>
    <div class="equip arma" *ngIf="personagem.arma">
      <app-item-inventario [equipamento]="personagem.arma" equipeFolder="weapon"
                           (mouseenter)="mostraDetalhes( $event, true, personagem.arma)"
                           (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
    </div>

    <ng-container *ngIf="personagem.aneis">
      <div class="equip acessorio anel1" *ngIf="personagem.aneis[0]">
        <app-item-inventario [equipamento]="personagem.aneis[0]" equipeFolder="ring"
                             (mouseenter)="mostraDetalhes( $event, true, personagem.aneis[0])"
                             (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
      </div>
      <div class="equip acessorio anel2" *ngIf="personagem.aneis[1]">
        <app-item-inventario [equipamento]="personagem.aneis[1]" equipeFolder="ring"
                             (mouseenter)="mostraDetalhes( $event, true, personagem.aneis[1])"
                             (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
      </div>
    </ng-container>
    <ng-container *ngIf="personagem.amuletos">
      <div class="equip acessorio amu1" *ngIf="personagem.amuletos[0]">
        <app-item-inventario [equipamento]="personagem.amuletos[0]" equipeFolder="amulet"
                             (mouseenter)="mostraDetalhes( $event, true, personagem.amuletos[0])"
                             (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
      </div>
      <div class="equip acessorio amu2" *ngIf="personagem.amuletos[1]">
        <app-item-inventario [equipamento]="personagem.amuletos[1]" equipeFolder="amulet"
                             (mouseenter)="mostraDetalhes( $event, true, personagem.amuletos[1])"
                             (mouseleave)="mostraDetalhes($event, false)"></app-item-inventario>
      </div>
    </ng-container>

    <div class="detalhe-item d-none">
      <div class="row">
        <div class="col-12 text-center text-white">
          [{{equipeDetalhe?.nome}}]
        </div>
        <div class="col-12">
          <span class="text-white" *ngIf="equipeDetalhe?.melhoria">Melhorias</span><br/>
          <img [src]="'assets/talics/t-'+getTalica(talica)+'.png'" class="img-fluid"
               alt="Tálica de upgrade" *ngFor="let talica of equipeDetalhe?.melhoria?.talica">
        </div>
      </div>

    </div>
  </div>
</div>
