.menu {
  background: linear-gradient(180deg, rgba(1, 115, 167, 0.62) 0%, #004687 88.06%);
  height: 100vh;
}

.item-ativo {
  border-left: 6px solid #FCB503 !important;
}


.dropdown-container a {
  margin-left: -8px;
  width: inherit !important;
}

.logo-reforged {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
}

.nav-item:hover {
  cursor: pointer;
  background: rgba(1, 115, 167, 0.62);
}

.color-accent {
  color: #FCB503;
}

.footer-info {
  position: absolute;
  bottom: 32px;
  cursor: pointer;
  width: 166px;
}

.sidenav {
  width: 200px;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav .dropdown-btn:hover,
.sidenav a:hover {
  background: #DBDCDC;
  color: rgb(1, 115, 167) !important;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #FCB503;
}

.dropdown-container a {
  color: rgb(1, 115, 167);
  font-size: 16px;

}

.dropdown-container {
  display: none;
  background-color: #f1f1f1;
  padding-left: 8px;

}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-top: 8px;
}

.fa-caret-left {
  float: right;
  padding-right: 8px;
  padding-top: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
