<div class="row py-5">
  <div class="container">
    <h3>Buscar {{equipamento ? 'Equipamento' : 'Inventário'}}</h3>
    <hr/>
    <div class="col-12 form-group">
      <app-input-enter-key [nome]="nome" placeholder="Nome do jogador" [submit]="submit()"
                           [label]="'Buscar' + (equipamento ? ' equipamento ' : ' inventário ') + 'de jogador'">
      </app-input-enter-key>
    </div>
    <div class="p-4" *ngIf="personagem && equipamento">
      <app-detalhe-personagem [personagem]="personagem" [pessoal]="false" [grid]="true" *ngIf="personagem.nome; else notFound"></app-detalhe-personagem>
      <ng-template #notFound>
        <p>Nenhum personagem encontrado com este nome.</p>
      </ng-template>
    </div>
    <div class="p-4" *ngIf="inventario && !equipamento">
      <app-inventario [inventario]="inventario"></app-inventario>
    </div>
  </div>
</div>
