<div class="row py-5">
  <div class="container">
    <h3>Lista de Concelhos</h3>
    <hr/>
    <div class="col-12">
      <p>Accretia</p>
      <table class="table table-dark table-bordered">
        <thead>
        <th>Status</th>
        <th>Nome do Personagem</th>
        <th>Raça</th>
        <th>Posição</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tbody>

      </table>
    </div>
    <div class="col-12">
      <p>Bellato</p>
      <table class="table table-dark table-bordered">
        <thead>
        <th>Status</th>
        <th>Nome do Personagem</th>
        <th>Raça</th>
        <th>Posição</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <p>Cora</p>
      <table class="table table-dark table-bordered">
        <thead>
        <th>Status</th>
        <th>Nome do Personagem</th>
        <th>Raça</th>
        <th>Posição</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tbody>
      </table>
    </div>
  </div>
</div>

