.purple {
  background-color: #AF30C3;
}

.grey {
  background-color: #CCC;
}

.pink {
  background-color: #F16DCC;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.size-1 {
  width: 80px;
}
.size-2 {
  width: 150px;
}
.size-3 {
  width: 200px;
}
