<div class="row p-2">
  <div class="card-action col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 no-padding mr-0 mr-sm-2">
    <div class="card-header">Jogadores Online - <span class="text-success font-weight-bold"><span>{{stats?.acc + stats?.cora + stats?.bell}}</span></span></div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="circle grey"></div>
          <div class="mr-3 ml-2 d-inline-flex size-1">Accretia</div>
          <span>{{stats?.acc}}</span>
        </div>

        <div class="col-12">
          <div class="circle pink"></div>
          <div class="mr-3 ml-2 d-inline-flex size-1">Bellato</div>
          <span>{{stats?.bell}}</span>
        </div>

        <div class="col-12">
          <div class="circle purple"></div>
          <div class="mr-3 ml-2 d-inline-flex size-1">Cora</div>
          <span>{{stats?.cora}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="card-action col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 no-padding mt-2 mt-md-0 mr-0 mr-sm-2">
    <div class="card-header">Estatítiscas</div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="circle bg-success"></div>
          <div class="mr-3 ml-2 d-inline-flex size-2">Média de usuários</div>
          <span>{{stats?.avgOn}}</span>
        </div>

        <div class="col-12">
          <div class="circle bg-success"></div>
          <div class="mr-3 ml-2 d-inline-flex size-2">Máximo online</div>
          <span>{{stats?.maxOn}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="card-action col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 no-padding mt-sm-2 mt-md-2 mt-xl-0">
    <div class="card-header">Contas</div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="circle bg-info"></div>
          <div class="mr-3 ml-2 d-inline-flex size-3">Total de contas</div>
          <span>{{stats?.totalContas}}</span>
        </div>

        <div class="col-12">
          <div class="circle pink"></div>
          <div class="mr-3 ml-2 d-inline-flex size-3">Total de personagens</div>
          <span>{{stats?.totalPersonagens}}</span>
        </div>

        <div class="col-12">
          <div class="circle bg-success"></div>
          <div class="mr-3 ml-2 d-inline-flex size-3">Personagens existentes</div>
          <span>{{stats?.personagensExistentes}}</span>
        </div>

        <div class="col-12">
          <div class="circle bg-dark"></div>
          <div class="mr-3 ml-2 d-inline-flex size-3">Personagens deletados</div>
          <span>{{stats?.personagensDeletados}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
