<div class="row py-5">
  <div class="container">
    <h3>Lista de banidos</h3>
    <hr/>
    <div class="col-12 form-group">
      <app-input-enter-key placeholder="Buscar por nome de conta, personagem ou GM." (submit)="submit($event)">
      </app-input-enter-key>
    </div>
    <div class="col-12">
      <table class="table table-striped table-bordered">
        <thead class="bg-default">
        <th>#</th>
        <th>Nome Usuário</th>
        <th>Data de Início</th>
        <th>Data de Término</th>
        <th>GM</th>
        <th>Razão</th>
        </thead>
        <tbody *ngFor="let b of banidos; let i = index">
        <td>{{i+1}}</td>
        <td>{{formataNome(b.nomeUsuario)}}</td>
        <td>{{formatDate(b.dataInicio)}}</td>
        <td>{{getEndDate(b.periodo, b.dataInicio.toString())}}</td>
        <td>{{b.gm}}</td>
        <td>{{b.razao}}</td>
        <tr>
          <td class="font-weight-bold">Personagens</td>
          <ng-container *ngIf="b.personagens">
            <td *ngFor="let p of b.personagens.split(',')">{{p}}</td>
          </ng-container>
          <td *ngIf="!b.personagens" colspan="5">Sem personagens.</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
