<div class="row py-5" style="overflow-y: auto; max-height: 100%">
  <div class="container">
    <h5>Histórico das Guerras</h5>
    <hr/>
    <div class="row" style="overflow-x: hidden">
      <div class="col-6">
        <div echarts [options]="optionsWin" class="chart" theme="macarons"></div>
      </div>
      <div class="col-6">
        <div echarts [options]="optionsLoses" class="chart" theme="macarons"></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <h5 class="mt-3">Últimas 10 Guerras</h5>
      <div class="mt-2 table-responsive">
        <table class="table table-bordered">
          <thead class="bg-default text-center">
          <th>Data</th>
          <th>Hora de Início</th>
          <th>Hora de Término</th>
          <th>Tempo Decorrido</th>
          <th>Vencedor</th>
          <th>Perdedor</th>
          </thead>
          <tbody class="text-center" *ngFor="let d of historicos">
          <td [attr.rowspan]="d.linhas.length + 1" style="text-align: center; vertical-align: middle;">{{d.dia}}</td>
          <tr *ngFor="let linha of d.linhas">
            <td>{{formataHora(linha.horarioInicio)}}</td>
            <td>{{formataHora(linha.horarioFim)}}</td>
            <td>{{linha.tempoDecorrido.tempoFormatado()}}</td>
            <td>{{linha.racaVencedora}}</td>
            <td>{{linha.racaPerdedora}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
